html, body {
  font-family: 'Montserrat', sans-serif;
  background: white;
}

#enemy {
  text-align: center;
}

#outerHp {
  height: 50px;
  border: 1px solid;
  border-radius: 3px;
}

#innerHp {
  height: 100%;
}

.mapbutton {
  height: 100%;
  width: 100%;
  text-align: center;
}

.mapcolumns {
  margin-bottom: 0 !important;
}
